*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 80%;
    margin-inline: auto;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(107, 210, 105, 0.208), rgba(143, 230, 105, 0.285)) ,url("./Img/bgimage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.navigation{
    width: 100%;
    padding: 10px 0px 10px 0;
    background: linear-gradient (rgba(107, 210, 105, 0.208), rgba(143, 230, 105, 0.285));
    position: sticky;
}

.navigation .box-navigation{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navigation .box-navigation .box:nth-child(1) h1{
    font-size: 28px;
    color: whitesmoke;
}
.navigation .box-navigation .box:nth-child(2) ul{
    display: flex;
    flex-direction: row;
}
.navigation .box-navigation .box:nth-child(2) ul li{
    list-style-type: none;
    margin-right: 20%;
}
.navigation .box-navigation .box:nth-child(2) ul li a{
    text-decoration: none;
    color: rgb(225, 218, 218);
    transition: all.3s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
    color: whitesmoke;
}
.navigation .box-navigation .box:nth-child(3){
    display: none;
}
.navigation .box-navigation .box:nth-child(2) ul li i {
    display: none;
}



@media screen and (max-width: 900px){
    .navigation .box-navigation .box:nth-child(2) {
        display: flex;
        position: absolute;
        top: 50px;
        right: 40px;
        background-color: white;
        width: 100px;
        border-radius: 10px;
        opacity: 0;
        transition: all.3s ease;
        font-size: 12px;
    }
    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 70;
    }

    .navigation .box-navigation .box:nth-child(2) ul{
        flex-direction: column;
    }
    .navigation .box-navigation .box:nth-child(3) {
        display: flex;
        align-items: center;
    }
    .navigation .box-navigation .box:nth-child(2) ul li a{
        color: black;
    }
    .navigation .box-navigation .box:nth-child(2) ul li{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20%;
        display: flex;
        align-items: center;
    }
    .navigation .box-navigation .box:nth-child(2) ul li i{
        margin-inline: 5px;
        font-size: 12px;
    }
    .navigation .box-navigation .box:nth-child(3) i{
        font-size: 26px;
    }
}

/* kontennya */

header .conten {
    align-items: center;
    position:absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
header .conten h1 {
    color: whitesmoke;
    font-size: 36px;
    text-align: center;
}
header .conten p{
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
} 
/* Gaya konten */
.conten {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Gaya tautan dalam section "conten" */
  .conten a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #00ff9d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
  }
  
  /* Efek hover pada tautan */
  .conten a:hover {
    background-color: #00ff9d;
    color: #ffffff;
    transition: all.5s ease;
  }
  
  @media screen and (max-width: 760px) {
    .conten {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
    }
    header .conten h1 {
        font-size: 26px;
        white-space: pre-line;
    }
    header .conten p {
        font-size: 14px;
        padding: 0 50px;
        white-space: pre-line;
    }
    .conten a {
        display: inline-block;
        padding: 8px 15px; /* Sedikit lebih besar padding */
        background-color: #ffffff;
        color: #00ff9d;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        margin-top: 15px;
    }
}



.features {
    background: linear-gradient(to bottom, #3f8f57, #7cba5d);
    text-align: center;
    padding: 40px;
}

.features h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(48, 206, 90);
}

.feature {
    margin-bottom: 40px;
}

.feature img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    color:  rgb(48, 206, 90);;
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feature p {
    font-size: 14px;
    margin-top: 10px;
    color: whitesmoke;
}
@media screen and (max-width:780px) {
    .feature img {
        max-width: 80%;
        height: auto;
    }
        
}

.fiturlain {
    align-items: center;
    padding: 40px;
    text-align: center;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(114, 222, 112, 0.368), rgba(143, 230, 105, 0.482)) , url("Img/bgmanfaat.jpg");
}

.fiturlain h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: whitesmoke;
}

.fitur-lainnya {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.fitur-lainnya i {
    font-size: 24px;
    color: #004427;
}

.contact {
    padding: 40px;
    text-align: center;
    background-color: #d6d6d6;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    margin-top: 10px;
}
.contact ul{
    font-size: 18px;
    margin-top: 10px;
}
.contact li{
    font-size: 16px;
    margin-top: 10px;
    list-style-type: none;
}
.contact ul li{
    font-size: 14px;
    margin-top: 10px;
    list-style-type: none;
}
.contact i{
    font-size: 18px;
    color: rgb(104, 193, 134);
}
.contact ul li a{
    text-decoration: none;
    color: black;
}
.manfaatpra {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}
.manfaatpra p {
    font-size: 16px;
    line-height: 1.5;
    color: whitesmoke;
}
.footer {
    background-color: #008e34;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}

